@use '../presets' as *;
.btn {
  font-size: 1.125rem;

  display: flex;

  height: 60px;
  padding-right: 1em;
  padding-left: 1em;

  transition: background-color 0.5s;
  letter-spacing: 0.1em;

  justify-content: center;
  align-items: center;

  &:hover,
  &:focus {
    background-color: $color-accent;
  }
}
.btn--light {
  min-width: 250px;

  border: 2px solid $color-light;
  background-color: rgba(#fff, 0.1);
}
.btn--primary {
  min-width: 350px;

  border: 2px solid $color-primary;
  background-color: rgba(#2d3651, 0.8);
}
